#carousel {
    /* width: 100%; */
    /* margin: 0; */
    margin-left: 105px;
    /* margin-right: -15px; */
    /* margin: auto; */
    overflow: hidden;
}

.jumbotron {
    text-align: center;
    background-image: url("../assets/Images\ &\ Sound/dogbanner.png");
    color: aliceblue;
    width: 100vw;
    background-repeat: no-repeat;
    background-color: #303841;
    /* background-attachment: fixed; */
    background-position: center;
    height: 175px;

}

.btn {
    margin-right: 5px;
    margin-left: 20px;
    color: black;
}

.btn:focus {
    /* background-color: black; */
    /* color: black; */
}

img {
    height: 400px;
}

body {
    /* background-color: black; */
    /* margin-right: 0;
    padding-right: 0; */
    background-image: url("../assets/Images & Sound/dogwallpaper2.jpg");
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
    font-family: 'Oswald', sans-serif;

}

.dog-card {
    margin-left: 35px;
    height: 400px;
    margin-bottom: 15px;
    width: 200px;
    max-width: 400px;
    padding-top: 10px;
}

.dog-card-photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

.index-card {
    margin-left: 5px;
    height: 50px;
}

.add-card {
    /* height: 300px;
    width: 300px;
    text-align: center; */
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    /* padding: 50px; */
    margin: 0%;

}

.dog-video{
    width:80%; 
    height:60%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.card-color {
    background-color: rgb(85, 71, 71);
    color: white;
}

/* unvisited link */
a:link {
    color: #9ea6af;
  }
  
  /* visited link */
  a:visited {
    color: rgb(211, 208, 208);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(87, 83, 85);
  }
  
  /* selected link */
  a:active {
    color: rgb(229, 255, 0);
  }

  .rest-card {
      border: 5px 5px 5px 5px;
      border-color: white;
  }